.vs/
[Ii]pch/
payload-configs/
zydis/
x64/
openssl-*/
processhacker-*/
server/oauth/
*.vcxproj
*.vcxproj.*
*.csproj
*.csproj.*
*.sln
*.exe
*.pdb
*.ipdb
*.obj
*.iobj
*.ipch
*.log
*.tlog
*.ilk
*.idb
*.vsidx
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.lastbuildstate
*.bin
*.recipe
*.FileListAbsolute.txt
*.aps
DvlErrLog.txt
docker/
InfinityGauntlet/testing/SleepObfuscation/Nighthawk Samples/*.zip
